<html>
<head><title>Permafrast</title></head>
<body>
<h1>Permafrast</h1>
<a href="<%= out.url %>"><%= out.full_citation %></a>
<br/>
<div id="fetched_page">
<%= out.fetched_page %>
</div>
</body>
</html>
