<html>
<head><title>Permafrast</title></head>
<body>
<h1>Permafrast</h1>
<a href="<%= out["GetPublicLinkResult"]["Result"][0]["Url"] %>"><%=  out["GetPublicLinkResult"]["Result"][0]["FullCitation"] %></a>
</body>
</html>